@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&family=Staatliches&display=swap');

body {
  background: #fff;
  margin: 0;
}

.grid-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.grid-container div {
  align-items: center;
  display: flex;
  flex: 1 1 20%;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.grid-container div:hover {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
  z-index: 2;
}

@keyframes up {
  from {
    height: 0;
  }

  to {
    height: 100%;
  }
}

.grid-container div:nth-child(odd) {
  animation-duration: 1s;
  animation-name: up;
}

@keyframes down {
  from {
    margin-top: 100vh;
  }

  to {
    margin-top: 0;
  }
}

.grid-container div:nth-child(even) {
  animation-duration: 1s;
  animation-name: down;
}


.grid-container div span {
  color: #fff;
  display: flex;
  font-family: 'Rowdies', cursive;
  font-size: 18px;
  letter-spacing: 2px;
  opacity: 0.6;
  text-transform: uppercase;
}

.grid-container div span.dark {
  color: #000;
}